build
third-party/libtorch/
third-party/cuda_libtorch.zip
third-party/libtorch.zip

third-party/libtorch-Debug/
third-party/libtorch-Release/libtorch-Release.zip
third-party/libtorch-Release/
/logs/
scripts/__pycache__/
__pycache__
cookie.txt
saved-queries
config/_config-core.json
bench-out/
data-logs/
data/nn_models/traced_Resnet152.pt
data/nn_models/traced_Resnext101.pt
data/v3c1-first100/
data/v3c1-20k/
data/V3C1_2021_May/
data/V3C1_2021_June/
data/LSC_2021_November/
saved-queries-out/
supervise/
.vscode
data/LSC-2021-November_W2VV-subregions-CLIP/
docs/html/*
